<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/alarm.css" type="text/css">
</head>
<body>
<div class="e26_260">
  <div class="e26_261">
    <div class="e26_262"></div>
    
    <div class="e26_272">
      <div class="e26_273">
        <div class="e26_274" onclick="window.location.href = 'menu'"></div>
      </div>
    </div>
    <div class="e26_275">
      <div class="e26_276" onclick="window.location.href = 'voice'"></div>

    </div>
    <div class="e26_280">
      <div class="e26_281" onclick="window.location.href = 'room'"></div>
      
    </div>
    <div class="e26_286">
      <div class="e26_287"></div>
    </div>
  </div>
  <div class="e26_288">
    <div class="e26_289"><span class="e26_361">문화 산업법 과제 제출 전날입니다.</span></div>
    <div class="e26_291">
      <div class="e26_292"></div>
      <div class="e26_364">
        <div class="e26_365"></div> 
        
      </div>
    </div>
  </div>
  <div class="e26_311">
    <div class="e26_312"><span class="e26_384">전공과 진로 탐색
차주 수업은 휴강입니다</span>
      <div class="e26_314"><span class="ei26_385_26_410">공지사항 이동</span></div>
    </div>
    <div class="e26_315">
      <div class="e26_316"></div>
      <div class="e26_388">
        <div class="e26_389"></div>
        
      </div>
    </div>
  </div>
  <div class="e26_335">
    <div class="e26_336">
      <div class="e26_337"><span class="ei26_385_26_410">공지사항 이동</span></div><span class="e26_338">자바 프로그래밍
출석 후 도주한 학생 자체적으로 연락바랍니다</span>
    </div>
    <div class="e26_339">
      <div class="e26_340"></div>
      <div class="e26_341">
        <div class="e26_342"></div>
        
      </div>
    </div>
  </div>
  <div class="e26_359">
    <div class="e26_360"><span class="e26_361">성과 사랑 과제 제출 전날입니다.</span></div>
    <div class="e26_362">
      <div class="e26_363"></div>
      <div class="e26_364">
        <div class="e26_365"></div>
        
      </div>
    </div>
  </div>
  <div class="e26_382">
    <div class="e26_383"><span class="e26_384">객체 지향 프로그래밍
중간 고사 관련 안내</span>
      <div class="e26_385"><span class="ei26_385_26_410">공지사항 이동</span></div>
    </div>
    <div class="e26_386">
      <div class="e26_387"></div>
      <div class="e26_388">
        <div class="e26_389"></div>  
        
      </div>
    </div>
  </div>
  <div class="e26_406">
    <div class="e26_407"><span class="e26_408">자바 프로그래밍중간 발표 안내</span>
      <div class="e26_409"><span class="ei26_385_26_410">공지사항 이동</span></div>
    </div>
    <div class="e26_411">
      <div class="e26_412"></div>
      <div class="e26_413">
        <div class="e26_415"></div>
      </div>
    </div>
  </div><span class="e26_431">2023.11.03</span><span class="e26_432">2023.11.06 (오늘)</span><span class="e26_433">알림</span>
  <div class="e26_434">
    <div class="e26_435" onclick="window.location.href = '/functions'">
      
      
    </div>
    
  </div>
  
</div>

</body></html>