<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e26_945><span  class="e26_946">계정이 없으신가요? </span><span  class="e26_947">회원가입</span><div class=e26_948><div  class="e26_949"></div><span  class="e26_950">로그인</span></div><div class=e26_951><div  class="e26_952"></div><div class=e26_953><span  class="e26_954">비밀번호</span><div  class="e26_955"></div></div></div><div class=e26_956><div  class="e26_957"></div><span  class="e26_958">학번</span></div><span  class="e26_959">안녕하세요!
로그인 해주세요</span><div class=e26_961><div class=e26_962><div  class="e26_963"></div><div  class="e26_964"></div></div><div  class="e26_965"></div></div></div>
          </body>
          </html>