<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>자바 프로그래밍 1조</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <nav class="bg-gray-600 p-3 flex justify-start">
            <img class="w-10 mr-5" src="/image/logo.svg" alt="logo">
            <a class="text-gray-300 p-3 border-2" href="http://mujyan.tplinkdns.com/">Info</a>
            <a class="text-gray-300 p-3 border-2" href="http://mujyan.tplinkdns.com/docs">Docs</a>
            <a class="text-gray-300 p-3 border-2" href="https://github.com/mujyan/Spring-boot">Visit Github</a>
        </nav>
        <div class="p-2">
            <div class="p-6 border-2">
                <h1 class="text-center font-semibold text-2xl pb-2">자바 프로그래밍 1조</h1>
                <br>
                <h2 class="font-semibold text-1xl pb-2">프로젝트명 : 안드로이드</h2>
                <h2 class="text-center font-semibold text-1xl pb-2 border-2">조원
                    <br>
                    <p class="text-left pl-10">한창훈<br>
                    최범준<br>
                    김우진<br>
                    공선영<br>
                    이규석</p>
                    
                </h2>
            </div>
        </div>
    </body>
</html>