<html lang="ko-KR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">

<body>
    <div class="e26_848">
        <span class="e26_865">Departments /Categories</span>
        <div class="e26_866">
            <div class="e26_867" onclick="window.location.href = 'login.html'">
                
                
            </div>
            
        </div>
        <div class="e26_871">
            <div class="e26_872"></div><span class="e26_873">Continue</span>
        </div>
        <div class="e26_874" onclick="window.location.href = '/functions/menu'"></div>
        <div class="e26_875" onclick="window.location.href = '/functions/alarm'"></div>
        <div class="e26_876" onclick="window.location.href = '/functions/voice'"></div>
        <div class="e26_877" onclick="window.location.href = '/functions/room'"></div>
    </div>



</body></html>