<html>
    <head>
    <link href="menu.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="e26_539">
  <div class="e26_540">
    <div class="e26_541"></div>
    
    <div class="e26_551">
      <div class="e26_552">
        <div class="e26_553"></div>
      </div>
    </div>
    <div class="e26_554">
      <div class="e26_555" onclick="window.location.href = 'voice.html'"></div>
    </div>
    <div class="e26_559">
      <div class="e26_560" onclick="window.location.href = 'room.html'"></div>
    </div>
    <div class="e26_565">
      <div class="e26_566" onclick="window.location.href = 'alarm.html'"></div>
    </div>
  </div>
  <div class="e26_567"><span class="e26_568">정보관</span></div>
  <div class="e26_570">
    <div class="e26_571" onclick="window.location.href = 'main.html'">
      
      
    </div>
    
  </div>
  <div class="e26_591">
    <div class="e26_592">
      <div class="e26_594"><span class="e26_595">11월 3일 금요일</span></div>
    </div>
  </div>
  <div class="e26_597">
    <div class="e26_598"></div><span class="e26_599">5000원 코너</span>
    <div class="e26_600"></div>
  </div>
  <div class="e26_601">
    <div class="ei26_601_26_598"></div><span class="ei26_601_26_599">3000원 코너</span>
    <div class="ei26_601_26_600"></div>
  </div>
  <div class="e26_602">
    <div class="ei26_602_26_598"></div><span class="ei26_602_26_599">4500원 코너</span>
    <div class="ei26_602_26_600"></div>
  </div>
  <div class="e26_603"></div>
  <div class="e26_604"></div>
  <div class="e26_605"></div>
  <div class="e26_606"></div><span class="e26_607">손만두백반</span><span class="e26_608">라면
    라면밥(500원추가)</span><span class="e26_609">오므라이스&amp;소시지</span>
</div>

</body></html>