<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/room.css" type="text/css">
<body>
    <div class="e26_455">
        <div class="e26_456">
          <div class="e26_457"></div>
          <div class="e26_467">
            <div class="e26_468">
              <div class="e26_469" onclick="window.location.href = 'menu.html'"></div>
            </div>
          </div>
          <div class="e26_470">
            <div class="e26_471" onclick="window.location.href = 'voice.html'"></div>
            
          </div>
          <div class="e26_475">
            <div class="e26_476"></div>

          </div>
          <div class="e26_481">
            <div class="e26_482" onclick="window.location.href = 'alarm.html'"></div>
          </div>
        </div>
        <div class="e26_483">
          <div class="e26_484">
            <div class="e26_485">
              <div class="e26_486">
                <div class="e26_487"></div><span class="e26_488">816호 실습실</span><span class="e26_489">정보공학관 8층</span>
                <div class="e26_490">
                  <div class="e26_491"></div><span class="e26_492">10:00 AM - 12:00 PM</span>
                </div>
              </div>
            </div>
            <div class="e26_493">
              <div class="e26_486">
                <div class="e26_487"></div><span class="e26_488">810호 강의실</span><span class="e26_489">정보공학관 8층</span>
                <div class="e26_490">
                  <div class="e26_491"></div><span class="e26_492">9:00 AM - 12:00 PM</span>
                </div>
              </div>
            </div>
            <div class="e26_494">
              <div class="e26_486">
                <div class="e26_487"></div><span class="e26_488">811호 강의실</span><span class="e26_489">정보공학관 8층</span>
                <div class="e26_490">
                  <div class="e26_91"></div><span class="e26_492">10:00 AM - 11:00 PM</span>
                </div>
              </div>
            </div>
            <div class="e26_495">
              <div class="e26_486">
                <div class="e26_487"></div><span class="e26_488">817호 실습실</span><span class="e26_489">정보공학관 8층</span>
                <div class="e26_490">
                  <div class="e26_491"></div><span class="e26_492">1:00 PM - 12:00 PM</span>
                </div>
              </div>
            </div>
            <div class="e26_496">
              <div class="e26_486">
                <div class="e26_487"></div><span class="e26_488">815호 실습실</span><span class="e26_489">정보공학관 8층</span>
                <div class="e26_490">
                  <div class="e26_491"></div><span class="e26_492">2:00 PM - 4:00 PM</span>
                </div>
              </div>
            </div>
          </div>
        </div><span class="e26_498">빈 강의실 목록</span>
        <div class="e26_499">
          <div class="e26_500">
            <div class="e26_501"></div>
            <div class="e26_502"><span class="e26_503"></span><span class="e26_504">Search</span></div>
          </div>
          <div class="e26_505">
            <div class="e26_506">
              <div class="e26_507"></div>
              <div class=e26_508></div>
            </div>
          </div>
        </div>
        <div class="e26_515"><span class="e26_516">정보관</span></div>
        <div class="e26_518">
          <div class="e26_519" onclick="window.location.href = 'main.html'"></div>
          </div>
        </div>
      


</body></html>