.e26_96 { 
	overflow:hidden;
}
.e26_96 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:375px;
	height:812px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	position:absolute;
}
.e26_97 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:375px;
	height:712px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(mixed)px;
}
.e26_98 { 
	width:50.184364318847656px;
	height:50.184364318847656px;
	position:absolute;
	left:248px;
	top:734px;
}
.e26_99 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:50.184364318847656px;
	height:50.184364318847656px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e26_100 { 
	width: 19.95566px;
    height: 19.637107px;
    position: absolute;
    left: 14.637102px;
    top: 15.773556px;
    background-image: url(images/speaker.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.e26_101 { 
	width:50.184364318847656px;
	height:50.184364318847656px;
	position:absolute;
	left:162px;
	top:734px;
}
.e26_102 { 
	background-color:rgba(235.0000011920929, 87.00000241398811, 87.00000241398811, 1);
	width:50.184364318847656px;
	height:50.184364318847656px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e26_103 { 
	width:42px;
	height:42.000030517578125px;
	position:absolute;
	left:5px;
	top:4px;
}

.e26_105 { 
	width:42px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_106 { 
	background-color: rgba(235.0000011920929, 87.00000241398811, 87.00000241398811, 1);
    width: 29px;
    height: 33px;
    position: absolute;
    left: 6px;
    top: 5px;
    background-image: url(images/check.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.e26_107 { 
	width:50.184364318847656px;
	height:50.184364318847656px;
	position:absolute;
	left:76px;
	top:734px;
}
.e26_108 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:50.184364318847656px;
	height:50.184364318847656px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e26_109 { 
	width: 25;
    height: 25;
    position: absolute;
    left: 12;
    top: 13;
    background-image: url(images/mike.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.e26_110 { 
	width:307px;
	height:541px;
	position:absolute;
	left:35px;
	top:160px;
}
.e26_111 { 
	width:204px;
	height:204px;
	position:absolute;
	left:51px;
	top:0px;
}
.e26_112 {
    width: 204px;
    height: 204px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px dashed rgba(137, 205, 250); 
}

.e26_113 {
    width: 184px;
    height: 184px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    border: 2px dashed rgba(159, 213, 249); 
}

.e26_114 {
    width: 162px;
    height: 162px;
    position: absolute;
    left: 21px;
    top: 21px;
    border-radius: 50%;
    border: 2px dashed rgba(227, 241, 250, 1); 
}

.e26_115 { 
	width:140px;
	height:140px;
	position:absolute;
	left:32px;
	top:32px;
}
.e26_116 { 
	overflow:hidden;
}
.e26_116 { 
	border-radius: 500px;
    background-color: rgba(227, 241, 250, 1);
    width: 140px;
    height: 140px;
    position: absolute;
    left: 1.5px;
    top: 1px;
}
.e26_117 { 
	border-radius:500px;
	background-color:rgba(227, 241, 250);
	width:140px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_118 { 
	width:307px;
	height:317px;
	position:absolute;
	left:0px;
	top:224px;
}
.e26_119 { 
	color: rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
    width: 102px;
    height: 15px;
    position: absolute;
    left: 104px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: -0.23999999463558197;
	line-height:px;
}
.e26_120 { 
	width:307px;
	height:295px;
	position:absolute;
	left:0px;
	top:22px;
}
.e26_121 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:156px;
	height:280px;
	position:absolute;
	left:16px;
	top:21px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_122 { 
	color: rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
    width: 165px;
    height: 40px;
    position: absolute;
    left: 108px;
    top: 60px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
	line-height:px;
}
.e26_123 { 
	width:45.750022888183594px;
	height:45.75001907348633px;
	position:absolute;
	left:25px;
	top:51px;
}
.e26_124 { 
	background-image: url('https://www.kadra.or.kr/kadra_m/images/back_btn.png');
    width: 45.75px;
    height: 45.75px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}