<html><head>
    <link href="../static/css/voiceComplete.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="e26_128">
  <div class="e26_129">
    <div class="e26_130"></div><span class="e26_131">클립보드에 복사</span>
  </div>
  <div class="e26_132">
    <div class="e26_133"></div>
    <div class="e26_134"></div>
  </div><span class="e26_151">필기부분</span>
  <div class="e26_152">
    <div class="e26_153" onclick="window.location.href = 'voice.html'">
      <div class="e26_154"></div>
      <div class="e26_155"></div>
    </div>
    <div class="e26_156"></div>
  </div>
</div>
</body></html>