<html><head>
  <link href="voice.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="e26_96">
  <div class="e26_97"></div>
  <div class="e26_98">
    <div class="e26_99"></div>
    <div class="e26_100"></div>
  </div>
  <div class="e26_101">
    <div class="e26_102"></div>
    <div class="e26_103">
      <div class="e26_105" onclick="window.location.href = 'voiceComplete.html'">
        <div class="e26_106"></div>
      </div>
    </div>
  </div>
  <div class="e26_107">
    <div class="e26_108"></div>
    <div class="e26_109"></div>
  </div>
  <div class="e26_110">
    <div class="e26_111">
      <div class="e26_112"></div>
      <div class="e26_113"></div>
      <div class="e26_114"></div>
      <div class="e26_115">
        <div class="e26_116">
          <div class="e26_117"></div>
        </div>
      </div>
    </div>
    <div class="e26_118"><span class="e26_119">음성 인식 중</span>
      <div class="e26_120"><span class="e26_121">필기부분
      </span></div>
    </div>
  </div><span class="e26_122">음성 인식 필기 기능</span>
  <div class="e26_123">
    <div class="e26_124" onclick="window.location.href = 'main.html'">
      
      
    </div>
    
  </div>
</div>
</body></html>