.26_260 { 
	overflow:hidden;
}
.e26_260 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:375px;
	height:812px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	position:absolute;
}
.e26_261 { 
	width:375px;
	height:69.70803833007812px;
	position:absolute;
	left:0px;
	top:743px;
}
.e26_262 { 
	box-shadow:6px 0px 20px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.e26_272 { 
	width:27.192527770996094px;
	height:24px;
	position:absolute;
	left:25px;
	top:23px;
}
.e26_273 { 
	width:27.192527770996094px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_274 { 
	width:40px;
	height:40px;
	position:absolute;
    top: -10px;
    background-image:url("../images/plate_1.png");
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}
.e26_275 { 
	width:25.84622573852539px;
	height:24px;
	position:absolute;
	left:324px;
	top:23px;
}
.e26_276 { 
	width: 35px;
	height:35px;
	position:absolute;
    top: -7px;
    background-image:url('../images/pen_1.png');
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}
.e26_280 { 
	width:25.846004486083984px;
	height:24px;
	position:absolute;
	left:223px;
	top:23px;
}
.e26_281 { 
	width:40px;
	height:40px;
	position:absolute;
    top: -10px;
    background-image:url('../images/chair_1.png');
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}
.e26_286 { 
	width:24.028858184814453px;
	height:24px;
	position:absolute;
	left:124px;
	top:23px;
}
.e26_287 { 
	width:40px;
	height:40px;
	position:absolute;
    top: -10px;
    background-image:url('../images/alarm_1.png');
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
}
.e26_288 { 
	width:224px;
	height:31px;
	position:absolute;
	left:25px;
	top:625px;
}
.e26_289 { 
	width:180px;
	height:20px;
	position:absolute;
	left:44px;
	top:5px;
}
.e26_291 { 
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_292 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 251.00000023841858, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e26_311 { 
	width:180px;
	height:64px;
	position:absolute;
	left:25px;
	top:532px;
}
.e26_312 { 
	width:136px;
	height:64px;
	position:absolute;
	left:44px;
	top:0px;
}
.e26_314 { 
	width:68px;
	height:20px;
	position:absolute;
	left:2px;
	top:44px;
}
.e26_315 { 
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:3px;
}
.e26_316 { 
	background-color:rgba(255, 246.0000005364418, 242.00000077486038, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e26_335 { 
	width:284px;
	height:65px;
	position:absolute;
	left:25px;
	top:441px;
}
.e26_336 { 
	width:240px;
	height:65px;
	position:absolute;
	left:44px;
	top:0px;
}
.e26_337 { 
	width:68px;
	height:20px;
	position:absolute;
	left:1px;
	top:45px;
}
.e26_338 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_339 { 
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:4px;
}
.e26_340 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 251.00000023841858, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e26_341 { 
	width:16.552715301513672px;
	height:14.664012908935547px;
	position:absolute;
	left:7px;
	top:8px;
}
.e26_342 { 
	width: 18px;
    height: 15.735602378845215px;
    position: absolute;
    left: 0.5;
    top: -1;
    background-image: url('../images/weeklycalendar_Blue.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

.e26_359 { 
	width:214px;
	height:31px;
	position:absolute;
	left:25px;
	top:330px;
}
.e26_360 { 
	width:168px;
	height:20px;
	position:absolute;
	left:46px;
	top:6px;
}
.e26_361 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:120%;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_362 { 
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_363 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 251.00000023841858, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e26_364 { 
	width:16.552715301513672px;
	height:14.664012908935547px;
	position:absolute;
	left:7px;
	top:8px;
}
.e26_365 { 
	width: 18px;
    height: 15.735602378845215px;
    position: absolute;
    left: 0.5;
    top: -1;
    background-image: url('../images/weeklycalendar_Black.png');
    background-repeat: no-repeat;
    background-size: contain; 
}
.e26_382 { 
	width:158px;
	height:65px;
	position:absolute;
	left:25px;
	top:236px;
}
.e26_383 { 
	width:113px;
	height:65px;
	position:absolute;
	left:45px;
	top:0px;
}
.e26_384 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:120%;
	height:40px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_385 { 
	width:68px;
	height:20px;
	position:absolute;
	left:0px;
	top:45px;
}
.ei26_385_26_410 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:120%;
	height:20px;
	position:absolute;
	left:0px;
	top:-2px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_386 { 
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:4px;
}
.e26_387 { 
	background-color:rgba(255, 246.0000005364418, 242.00000077486038, 1);
	width:31px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e26_388 { 
	width:16.552715301513672px;
	height:14.664012908935547px;
	position:absolute;
	left:7px;
	top:8px;
}
.e26_389 { 
	width: 18px;
    height: 15.735602378845215px;
    position: absolute;
    left: 0.5;
    top: -1;
    background-image: url('../images/weeklycalendar_Orange.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

.e26_406 {
    position: relative;
	width:80%;
	height:65px;
}
.e26_407 {
    position: relative;
	width:100%;
	height:65px;
	left:45px;
	top:0px;
}
.e26_408 {
    position: relative;
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_409 { 
	width:68px;
	height:20px;
}
.e26_411 {
    position: relative;
    bottom: 80px;
	width:31px;
	height:31px;
	left:0px;
}
.e26_412 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 0.10000000149011612);
	position: relative;
	width:31px;
	height:31px;
	left:0px;
	top:30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e26_413 {
    position: relative;
	width:16.552715301513672px;
	height:14.664012908935547px;
	left:7px;
	top:5px;
}
.e26_415 { 
    width: 18px;
    height: 15.735602378845215px;
    background-image: url('../images/weeklycalendar_Sky.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

.e26_431 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:88px;
	height:20px;
	position:absolute;
	left:25px;
	top:413px;
	font-family:Nunito;
	text-align:left;
	font-size:17px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_432 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	font-family:Nunito;
	text-align:left;
	font-size:17px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_433 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width: 55px;
    height: 40px;
    position: absolute;
    left: 160px;
    top: 60px;
    font-family: Poppins;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0;
    line-height: px;
    font-weight: bold;
}
.e26_434 { 
	width:45.750022888183594px;
	height:45.75001907348633px;
	position:absolute;
	left:25px;
	top:51px;
}
.e26_435 { 
	background-image: url('https://www.kadra.or.kr/kadra_m/images/back_btn.png');
    width: 45.75px;
    height: 45.75px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.e26_436 { 
	transform: rotate(-90.00000250447808deg);
	background-color:rgba(34.00000177323818, 38.0000015348196, 40.00000141561031, 0.15000000596046448);
	width:42.100364685058594px;
	height:42.100364685058594px;
	position:absolute;
	left:1.8246021270751953px;
	top:43.92512893676758px;
}
.e26_437 { 
	transform: rotate(-90.00000250447827deg);
	background-color:rgba(34.00000177323818, 38.0000015348196, 40.00000141561031, 1);
	width:45.75001525878906px;
	height:45.75001907348633px;
	position:absolute;
	left:9.536746574667632e-7px;
	top:45.750022888183594px;
}
.e26_438 { 
	background-color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:19px;
	height:16px;
	position:absolute;
	left:16px;
	top:15px;
}