.e26_455 { 
	overflow:hidden;
}
.e26_455 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:375px;
	height:812px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	position:absolute;
}
.e26_456 { 
	width:375px;
	height:69px;
	position:absolute;
	left:0px;
	top:743px;
}
.e26_457 { 
	box-shadow:6px 0px 20px rgba(0, 0, 0, 0.07000000029802322);
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e26_467 { 
	width:27.192527770996094px;
	height:24px;
	position:absolute;
	left:25px;
	top:23px;
}
.e26_468 { 
	width:27.192527770996094px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_469 { 
	width:40px;
	height:40px;
	position:absolute;
    top: -10px;
    background-image:url("../images/plate_1.png");
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}
.e26_470 { 
	width:25.84622573852539px;
	height:24px;
	position:absolute;
	left:324px;
	top:23px;
}
.e26_471 { 
	width: 35px;
	height:35px;
	position:absolute;
    top: -7px;
    background-image:url("../images/pen_1.png");
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}

.e26_475 { 
	width:25.846004486083984px;
	height:24px;
	position:absolute;
	left:223px;
	top:23px;
}
.e26_476 { 
	width:40px;
	height:40px;
	position:absolute;
    top: -10px;
    background-image:url("../images/chair_1.png");
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
}

.e26_481 { 
	width:24.028858184814453px;
	height:24px;
	position:absolute;
	left:124px;
	top:23px;
}
.e26_482 { 
	width:40px;
	height:40px;
	position:absolute;
    top: -10px;
    background-image:url("../images/alarm_1.png");
	background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}
.e26_483 { 
	width:325px;
	height:516px;
	position:absolute;
	left:25px;
	top:227px;
}
.e26_484 { 
	width:325px;
	height:476px;
	position:absolute;
	left:0px;
	top:9px;
}
.e26_485 { 
	width:325px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_486 { 
	width:325px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_487 { 
	background-color:rgba(255, 255, 255, 1);
	width:325px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e26_488 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:144px;
	height:16px;
	position:absolute;
	left:24px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_489 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:96px;
	height:18px;
	position:absolute;
	left:25px;
	top:50px;
	font-family:Nunito;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_490 { 
	width:128px;
	height:32px;
	position:absolute;
	left:187px;
	top:44px;
}
.e26_491 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 0.07999999821186066);
	width:128px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e26_492 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:9px;
	top:8px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_493 { 
	width:325px;
	height:88px;
	position:absolute;
	left:0px;
	top:97px;
}

.e26_494 { 
	width:325px;
	height:88px;
	position:absolute;
	left:0px;
	top:194px;
}

.e26_495 { 
	width:325px;
	height:88px;
	position:absolute;
	left:0px;
	top:291px;
}

.e26_496 { 
	width:325px;
	height:88px;
	position:absolute;
	left:0px;
	top:388px;
}
.e26_498 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:110px;
	height:25px;
	position:absolute;
	left:25px;
	top:202px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e26_499 { 
	width:325px;
	height:48px;
	position:absolute;
	left:25px;
	top:134px;
}
.e26_500 { 
	width:325px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_501 { 
	box-shadow:0px 7px 20px rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 0.019999999552965164);
	background-color:rgba(255, 255, 255, 1);
	width:325px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e26_502 { 
	width:84px;
	height:22px;
	position:absolute;
	left:14px;
	top:13px;
}
.e26_503 { 
    width: 24px;
    height: 22px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2866/2866321.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.e26_504 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:51px;
	height:22px;
	position:absolute;
	left:33px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:-0.40799999237060547;
	line-height:px;
}
.e26_505 { 
	width:38px;
	height:38px;
	position:absolute;
	left:282px;
	top:5px;
}
.e26_506 { 
	width:38px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_507 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:38px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e26_508 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:9px;
	top:11px;
    background-image: url('../images/filter.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.e26_515 { 
	width:87px;
	height:40px;
	position:absolute;
	left:156px;
	top:54px;
}
.e26_516 { 
	color: rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
    width: 70px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 7px;
    font-family: Poppins;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0;
    line-height: px;
    font-weight: bold;
    border: none;
}
.e26_517 { 
	background-color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:7px;
	height:7px;
	position:absolute;
	left:80px;
	top:23px;
}
.e26_518 { 
	width:45.750022888183594px;
	height:45.75001907348633px;
	position:absolute;
	left:25px;
	top:51px;
}
.e26_519 { 
	background-image: url('https://www.kadra.or.kr/kadra_m/images/back_btn.png');
    width: 45.75px;
    height: 45.75px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.e26_520 { 
	transform: rotate(-90.00000250447808deg);
	background-color:rgba(34.00000177323818, 38.0000015348196, 40.00000141561031, 0.15000000596046448);
	width:42.100364685058594px;
	height:42.100364685058594px;
	position:absolute;
	left:1.8246021270751953px;
	top:43.92512893676758px;
}
.e26_521 { 
	transform: rotate(-90.00000250447827deg);
	background-color:rgba(34.00000177323818, 38.0000015348196, 40.00000141561031, 1);
	width:45.75001525878906px;
	height:45.75001907348633px;
	position:absolute;
	left:9.536746574667632e-7px;
	top:45.750022888183594px;
}
