.e26_157 { 
	overflow:hidden;
}
.e26_157 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:375px;
	height:812px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	position:absolute;
}

.e26_235 { 
	background-color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 0.30000001192092896);
	width:375px;
	height:812px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_236 { 
	width:375px;
	height:466px;
	position:absolute;
	left:0px;
	top:345px;
}
.e26_237 { 
	box-shadow:0px -4px 30px rgba(0, 0, 0, 0.07999999821186066);
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:375px;
	height:466px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(mixed)px;
}
.e26_238 { 
	background-color:rgba(231.12696021795273, 231.12696021795273, 231.12696021795273, 1);
	width:42px;
	height:6px;
	position:absolute;
	left:167px;
	top:20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e26_239 { 
	width:325px;
	height:87px;
	position:absolute;
	left:25px;
	top:698px;
}
.e26_240 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:82px;
	height:22px;
	position:absolute;
	left:122px;
	top:65px;
	font-family:Poppins;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e26_241 { 
	width:325px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_242 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:325px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e26_243 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:92px;
	height:22px;
	position:absolute;
	left:117px;
	top:15px;
	font-family:Poppins;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e26_244 { 
	width:318px;
	height:282px;
	position:absolute;
	left:25px;
	top:400px;
}
.e26_245 { 
	width:310px;
	height:234px;
	position:absolute;
	left:8px;
	top:48px;
}
.e26_246 { 
	width:84px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}

.e26_247 { 
	width:84px;
	height:38px;
	position:absolute;
	left:111px;
	top:0px;
}
.e26_248 { 
	width:84px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_249 { 
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}
.e26_250 { 
	width:58px;
	height:15px;
	position:absolute;
	left:13px;
	top:11px;
}
.e26_251 { 
	color: rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
    width: 60px;
    height: 15px;
    position: absolute;
    left: 1px;
    top: -2px;
    font-family: Poppins;
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.23999999463558197;
}
.e26_252 { 
	width:84px;
	height:38px;
	position:absolute;
	left:222px;
	top:0px;
}

.e26_253 { 
	width:84px;
	height:38px;
	position:absolute;
	left:0px;
	top:80px;
}

.e26_254 { 
	width:84px;
	height:38px;
	position:absolute;
	left:111px;
	top:80px;
}

.e26_255 { 
	width:84px;
	height:38px;
	position:absolute;
	left:222px;
	top:80px;
}

.e26_256 { 
	width:84px;
	height:38px;
	position:absolute;
	left:0px;
	top:160px;
}

.e26_257 { 
	width:84px;
	height:38px;
	position:absolute;
	left:111px;
	top:160px;
}

.e26_258 { 
	width:84px;
	height:38px;
	position:absolute;
	left:222px;
	top:160px;
}
.ei26_258_26_248 { 
	width:84px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei26_258_26_249 { 
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}
.ei26_258_26_250 { 
	width:52px;
	height:15px;
	position:absolute;
	left:16px;
	top:11px;
}
.ei26_258_26_251 { 
	color:rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
	width:52px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:14px;
	letter-spacing:-0.23999999463558197;
	line-height:px;
}
.e26_259 { 
    color: rgba(32.00000189244747, 34.00000177323818, 68.00000354647636, 1);
    width: 60px;
    height: 25px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: px;
}
